node_modules/
dist/
.env
*.env.local
.DS_Store

# Prisma
apps/server/prisma/migrations/*.sql

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# Build output
apps/admin/dist/
apps/server/dist/

# WeChat DevTools
apps/miniapp/.idea/
apps/miniapp/node_modules/
